/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
    background-color:coral; 
}
h1{
    font-family: 'Montserrat', sans-serif;
    color:Black;
}
li{
    color:DeepSkyBlue;
    font-family: 'Roboto Slab', serif;
}
input::placeholder{
    border:3px dotted black;
}
.pomodoro-estimate{
  font-weight: bold;
  background-color: #F5F5F5;
  color:red;
  border:dotted MidnightBlue;
  border-radius: 20px;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
}
button{
  font-family:'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #90A4AE;
  display: block;
  background-color: Black;
  margin-top: 10px;
}
#addToDo:active{
    box-shadow: 1px 1px 1px #90A4AE;
    
}
.card{
    background-color: white;
    border-radius:10%;
    padding:50px;
    width:300px;
}
#input{
  font-family:'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #90A4AE;
  display: block;
  background-color: Black;
  margin-top: 10px;
}
