<form action="/todo/create">
<h1>Add a new to-do...</h1>

<form action="#">
  <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Add a new todo...">
  <input class="text-input" id="new-pomodoro-estimate" name="pomodoro_estimate" type="number" placeholder="Pomodoro estimate...">
  <input class= "button" id="input" type="submit" value="Add to-do">
</form>
