
 <h1>            
     To-Do
     
     </h1>
     <br>
     <%= @todo.description %>
        <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo.pomodoro_estimate %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
        <a href="index.html">Go Back</a>
        