
 <h1>            
     To-Do
     
     </h1>
     <br>
     <%= @todo.description%>
        <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo.pomodoro_estimate %> Pomodoros</span>
        <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
        <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>
        <a href="/todo/index">Go Back</a>
        